.pure-g > div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.l-box {
	padding: 1em;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.grids-example {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-color: #fefefe;
}
/*
* {
	box-sizing: border-box;
}
body {
	color: #777;
	line-height: 1.6;
}
html, button, input, select, textarea, .pure-g [class*="pure-u"] {
	font-family: sans-serif;
	font-weight: 100;
	letter-spacing: 0.01em;
}
.grids-example {
	background: rgb(250, 250, 250);
	margin: 2em auto;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-top: 0px none;
}

.grids-example [class *= "pure-u"] {
	font-family: Consolas, 'Liberation Mono', Courier, monospace;
	text-align: center;
	padding: 1em 0;
	border: 1px solid #ddd;
	border-right: none;
	border-bottom: none;
}*/